.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.primary {
    background-color: #008CBA;
}

.secondary {
    background-color: #e7e7e7;
    color: black
}

.error {
    background-color: #f44336;
}

.success {
    background-color: #4CAF50;
}